In [1]:
import yfinance as yf

In [2]:
apple= yf.Ticker("aapl")
hist = apple.history(period="1mo")

In [4]:
# Set the start and end date
start_date = '2020-01-01'
end_date = '2022-01-01'

# Set the ticker
ticker = 'aapl'

# Get the data
data = yf.download(ticker, start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [5]:
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  74.059998  75.150002  73.797501  75.087502  73.449402  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  72.735313  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  73.314880  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  72.970085  108872000
2020-01-08  74.290001  76.110001  74.290001  75.797501  74.143906  132079200

In [6]:
data.shape

(505, 6)